header, main, footer {
 padding-left: 300px;
}

#logo-container{
  font-weight: bold;
  font-size:1.4em;
  color:black;
  padding-top: 0 !important;  
}

/*Google Map Styles*/
#map {
  bottom:0px;
  height: 100%;
  left: 300px;
  position: absolute;
  right: 0px;
  width:calc(100%-300px);
  z-index:-1;
}

/*Place Modal dialog styles*/
#zomato .food{
  max-width: 350px;
  width: 100%;
  margin-bottom:15px;
}

#zomato .close-btn{
  padding-right:10px;
  padding-left:10px;
  margin-right:0;
  margin-top:0;
}

#zomato .modal-content{
  padding:13px;
}

#zomato .brand-list{
  display:flex;
  flex-flow: row nowrap;
  justify-content: start;
}

#zomato .brand-list li img{
  width:100%;
  max-width: 30px;
}

#zomato .brand-list li{
  padding-left: 10px;
  padding-right:10px;
}

/*Media queries*/
@media only screen and (max-width : 992px) {
   header, main, footer {
     padding-left: 0;
  }
}

/**Sets modal dialog at the bottom for small and medium screens**/
@media only screen and (min-width:992px){
   #zomato .brand-list{
     justify-content: center;
   }
   #zomato{
    height:100%;
    width:350px;
    right:0;
    max-height: none;
    left:auto !important;
  }
}

